 <!-- FOOTER -->
 <footer style="background-color: rgb(158, 157, 157);"id="footer">
    <div class="container">
         <div class="row" style="text-align:center">

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2><i>ENIS LABORATOIRE</i></h2>
                        </div>
                        <address>
                             <p>Adresse : Route Soukra km3, Sfax</p>
                        </address>

                        
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2><i>CONTACT</i></h2>
                        </div>
                        <address>
                             <p> Tel :(+216)70 03 22 16 /( +216)28 833 952</p>
                             <p><a href="enis.Lab@stud.enis.tn"> Email :enis.Lab@enis.tn</a></p>
                        </address>
                    <br/>
                    <br/>
                   
                   
                    
                        <div class="footer_menu">
                         <div class="copyright-text"> 
                             <h4> <p>Copyright &copy; 2021 ENIS LABORATOIRE</p></h4>
                              
                             
                         </div>
                             
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-12" style="margin-left: 900px;bottom: 250px;">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2></h2>
                        </div>
                        <div>
                         
                              <h2><a href="https://www.facebook.com/%D8%A3%D8%B9%D9%88%D8%A7%D9%86-%D9%88-%D8%A7%D8%B7%D8%A7%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D8%AF%D8%B1%D8%B3%D8%A9-%D8%A7%D9%84%D9%88%D8%B7%D9%86%D9%8A%D8%A9-%D9%84%D9%84%D9%85%D9%87%D9%86%D8%AF%D8%B3%D9%8A%D9%86-%D8%A8%D8%B5%D9%81%D8%A7%D9%82%D8%B3-502602979833989" class="fa fa-facebook-square" attr="facebook icon">  Facebook</a></h2></div>
                              <div><h2><a href="#" class="fa fa-instagram">  Instagram</a></h2></div>
                         <div> <h2><a href="#" class="fa fa-linkedin">  Linkedin</a></h2>
                              
                        
 
                         
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>

