<div class="card">
    <div class="card-header bg-dark text-white" >  <h3 style="text-align: center;color:white"> {{enseignant.nom +' '+enseignant.prenom}} </h3>
    </div>
  
    <div class="card-body" >
  <div>
    <fieldset >
      <legend>Détail Enseignant:</legend>
      <div class="form-group" style="margin:40px;">
        <label><h6> Nom :</h6> <h5> {{enseignant.nom}} </h5></label></div>
   <div class="form-group" style="margin:40px;">
         <label><h6>Prénom :</h6><h5> {{enseignant.prenom}} </h5></label>
       </div>
      <div class="form-group" style="margin:40px;">
       <label><h6> Email :</h6> <h5> {{enseignant.email}} </h5></label></div>

  <div class="form-group" style="margin:40px;">
        <label><h6>Date de Naissance :</h6><h5> {{enseignant.date}} </h5></label>
      </div>
  
      <div class="form-group" style="margin:40px;">
        <label><h6> Etablissement:</h6> <h5> {{enseignant.etablissement}}</h5></label></div>
        <div class="form-group" style="margin:40px;">
        <label><h6>Grade :</h6><h5> {{enseignant.grade}} </h5></label>
      </div>
     
      
      
    
  
  
   
    </fieldset>
  </div>

  
  
 
  
 