<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <div class="card">
       
  
        <div class="card-body">
    <div class="form-row">
        <div >
      <div  >
        <label>Username</label>
        <input type="text"   class="form-control"  placeholder="email" [(ngModel)]="member.email" #titre="ngModel" [ngModelOptions]="{standalone: true}" required>
        
      </div>
      <div  >
        <label>Password</label>
        <input type="password"   class="form-control"  placeholder="password" [(ngModel)]="member.password" #titre="ngModel"  [ngModelOptions]="{standalone: true}" required>
        
      </div>
      
  
     
   
  
    
 
      
      
    </div>
      
    </div>
    
        </div>
      </div>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button (click)="login ()" class="btn btn-lg btn-dark btn-block" type="submit">Login</button>   
    </form>
  </div>