<div class="container spacer">
    <div class="col-lg-14">
      <div class="card">
        <div class="card-header bg-dark text-white">  <h3 style="text-align: center"> Liste des Publications </h3>
          <a  (click)="add(e)" class="btn btn-danger">Ajouter Publication</a>
  
  
        </div>
  
        <div class="card-body">
        
<table class="table">
            <thead class="thead-dark">
            <tr>
            
              <th scope="col">Titre</th>
              <th scope="col">Type</th>
              <th scope="col">Date Apparaition</th>
              <th scope="col">Lien</th>
              <th scope="col">Source</th>
             <th  scope="col">Action</th>
            </tr>
            </thead>
  
  
  
            <tbody>
            <tr *ngFor=" let e of listePub" [id]="e.id">
              <td> {{e.titre}}</td>
              <td> {{e.type}}</td>
              <td>{{e.dateApparition}}</td>
              <td>{{e.lien}}</td>
              <td >{{e.sourcePdf}}</td>
              
               <td> <a (click)="detailPub(e.id)"  class="btn btn-success" >Details</a>
                     <a (click)="edit(e.id)"  class="btn btn-danger" >Edit</a>
                    <a  (click)="delete(e.id)" class="btn btn-warning">Delete</a></td>
            
            
            </tr>
            </tbody>
          </table>
  
        
  
  
  
  
        </div>
      </div>
  
    </div>
  
  </div>