<app-header></app-header>
<div class="card">
  
    <div class="card-header">
        <div ><img class="img-fluid w-100 rounded"  src="assets/img/laboratoire.jpg" alt=""></div>
    
    </div>
    
    <div class="card-body">
    <div>
        <h2>ENIS LABORATOIRE</h2>
        <h3><p class="card-text">Notre laboratoire est l'une des laboratoires les plus préstigieuses dans le pays. On est reconnu par nos travaux de recherche dans le domaine de l'Intelligence Artificielle et l'Interaction Homme Machine. Nos équipes de recherches sont constituées d'enseignants chercheur et des étudiants qui travaillent en paralléle pour trouver des solutions innovantes aux problémes actuels. </p></h3>
       
        
    
  
    
    
    
    
   
    </div>
     
    </div>